.portfolio-section {
  padding: 120px 0;
  background-color: var(--color-light);

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  &__slider-nav {
    transform: translateX(12px);
  }

  &__title {
    margin: 0;
    padding-bottom: 12px;
    max-width: 710px;
  }

  &__items {
    height: 521px;
  }

  .portfolio-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 80px 80px -100px rgba(154, 156, 165, 0.16),
      0px 30px 24px -10px rgba(154, 156, 165, 0.1),
      0px 12px 10px -6px rgba(154, 156, 165, 0.08),
      0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    background: var(--color-light);

    &__content {
      @include flex-column-center;

      padding: 0 10px;
      padding-top: 16px;
      padding-bottom: 23px;
    }

    &__title {
      margin: 0;
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: var(--color-ebony);
    }

    &__descr {
      display: inline-block;
      font-size: 14px;
      line-height: 150%;
      color: var(--color-shtorm);
    }

    &__btn {
      margin-top: 24px;
      display: none;
      border: 1px solid currentColor;
      border-radius: 4px;
      padding: 13px 31px;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: var(--color-primary);
    }
  }
}
