.team {
  padding-top: 54px;
  padding-bottom: 120px;

  &__list {
    margin-bottom: 22px;
    row-gap: 64px;
    margin-bottom: 80px;
    column-gap: var(--grid-gap);
  }

  &__top {
    position: relative;
    margin-bottom: 14px;
    font-size: 0;
  }

  &__social {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    opacity: 0.7;
    border-radius: 0px 0px 4px 4px;
    background-color: rgba(#ff5a30, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  &__item {
    grid-column: 3 span;

    &:hover {
      .team__social {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__text {
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-ebony);

    a {
      color: var(--color-primary);
      border-bottom: 1px solid currentColor;
      transition: color 0.3s ease-in-out;

      &:focus {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
      }

      &:hover {
        color: var(--color-active);
      }

      &:active {
        color: var(--color-active);
      }
    }
  }

  &__link {
    display: block;
    width: 20px;
    height: 20px;

    svg {
      width: 20px;
      height: 20px;
      object-fit: cover;
      fill: var(--color-light);
    }

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__name {
    margin-bottom: 4px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-gray);
  }

  &__post {
    text-align: center;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-storm);
  }
}
