.position-content {
  padding-top: 120px;
  padding-bottom: 56px;

  &__left {
    grid-column: 7 span;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    grid-column: 5 span;
  }
}

.position-list {
  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.position-item {
  display: flex;
  align-items: center;
  padding: 32px 40px;
  justify-content: space-between;
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  background-color: var(--color-light);

  &__meta {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-storm);
  }

  &__city {
    position: relative;
    margin-right: 21px;
    padding-left: 23px;
    background-image: url("../img/city.svg");
    background-position: left center;
    background-size: 16px 16px;
    background-repeat: no-repeat;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -13px;
      width: 1px;
      height: 11px;
      transform: translateY(-50%);
      background-color: currentColor;
    }
  }

  &__time {
    padding-left: 23px;
    background-image: url("../img/time.svg");
    background-position: left center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-ebony);
  }

  &__link {
    display: inline-block;
    padding: 11px 30px;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
}

.position-looking {
  width: 390px;

  &__title {
    margin: 0;
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--color-ebony);
  }

  &__descr {
    margin: 0;
    margin-bottom: 46px;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-gray);
  }

  &__btn {
    &--subs {
      margin-right: 22px;
      padding-right: 43px;
      padding-left: 44px;
    }
    &--send {
      padding-right: 54px;
      padding-left: 54px;
    }
  }
}
