<section class="categories">
  <div class="container">
    <h2 class="title title--center categories__title">Categories</h2>
    <ul class="list-reset categories-nav">
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn categories-nav__btn--active">All News</button>
      </li>
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">Company News</button>
      </li>
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">Innovation</button>
      </li>
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">Industry News</button>
      </li>
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">Expert Tips</button>
      </li>
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">Marketing</button>
      </li>
    </ul>
    <ul class="list-reset categories-list grid">
      <li class="categories-list__item">
        <article class="news-article">
          <img src="img/recent-article-1.jpg" alt="article 1" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">How to&nbsp;Build Climate Change-Resilient Infrastructure</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry News</a>
              <time class="article-meta__item" datetime="2020-06-24 19:00">June 24, 2020</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="news-article__descr">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis
              nulla. Integer bibendum turpis convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="news-article">
          <img src="img/cetegoties-2.jpg" alt="article 1" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">How Construction Can Help Itself</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Innovation</a>
              <time class="article-meta__item" datetime="2020-06-24 19:00">June 12, 2020</time>
              <span class="article-meta__item article-meta__item--comments">No comments</span>
            </div>
            <p class="news-article__descr">
              Porta habitant vitae quam interdum. Leo viverra non volutpat rhoncus placerat vitae scelerisque. Rhoncus
              augue faucibus maecenas lacus...
            </p>
          </div>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="news-article">
          <img src="img/cetegoties-3.jpg" alt="article 2" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">The Difference Between a Digger and an Excavator</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Expert Tips</a>
              <time class="article-meta__item" datetime="2020-06-24 19:00">May 16, 2020</time>
              <span class="article-meta__item article-meta__item--comments">No comments</span>
            </div>
            <p class="news-article__descr">
              Cras est nisi purus velit facilisi vitae, dolor. Lorem scelerisque integer duis et&nbsp;nulla lobortis
              cursus. Viverra erat sollicitudin praesent viverra...
            </p>
          </div>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="news-article">
          <img src="img/cetegoties-4.jpg" alt="article 1" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">Building Construction Hand Tools</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Expert Tips</a>
              <time class="article-meta__item" datetime="2020-06-24 19:00">February 25, 2020</time>
              <span class="article-meta__item article-meta__item--comments">1 comment/span>
            </div>
            <p class="news-article__descr">
              Tellus quis aliquet volutpat nunc pulvinar donec sed sapien. Vitae elit id&nbsp;dolor, tristique massa.
              Fames lobortis orci rutrum bibendum integer...
            </p>
          </div>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="news-article">
          <img src="img/cetegoties-5.jpg" alt="article 1" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">Top&nbsp;10 Construction Trends</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry News</a>
              <time class="article-meta__item" datetime="2020-06-24 19:00">January 14, 2020</time>
              <span class="article-meta__item article-meta__item--comments">No comments</span>
            </div>
            <p class="news-article__descr">
              Dignissim sed enim, eleifend morbi condimentum. Congue id&nbsp;quis vulputate dignissim eget.
              Ac&nbsp;ullamcorper nunc habitasse enim interdum platea...
            </p>
          </div>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="news-article">
          <img src="img/cetegoties-6.jpg" alt="article 1" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">Types of Flooring Materials</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Company News</a>
              <time class="article-meta__item" datetime="2020-06-24 19:00">December 1, 2019</time>
              <span class="article-meta__item article-meta__item--comments">No comments</span>
            </div>
            <p class="news-article__descr">
              Maecenas donec lacinia nunc, quam sit magnis mauris. Neque bibendum et&nbsp;mauris, aenean. Vel arcu amet
              in&nbsp;sem parturient integer duis et&nbsp;nulla...
            </p>
          </div>
        </article>
      </li>
    </ul>
    <ul class="list-reset categories-pag">
      <li class="categories-pag__item">
        <a href="#" class="categories-pag__link categories-pag__link--active">1</a>
      </li>
      <li class="categories-pag__item">
        <a href="#" class="categories-pag__link">2</a>
      </li>
      <li class="categories-pag__item">
        <a href="#" class="categories-pag__link">3</a>
      </li>
      <li class="categories-pag__item">
        <a href="#" class="categories-pag__link">4</a>
      </li>
      <li class="categories-pag__item">
        <a href="#" class="categories-pag__link" aria-label="next page">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>