<section class="position-content">
  <h2 class="visually-hidden">Our available position</h2>
  <div class="container position-content__container">
    <div class="position-content__info grid">
      <div class="position-content__left">
        <ul class="list-reset position-list">
          <li class="position-list__item">
            <article class="position-item">
              <div class="position-item__left">
                <div class="position-item__meta">
                  <span class="position-item__city">New York</span>
                  <span class="position-item__time">Full Time</span>
                </div>
                <h3 class="position-item__title">Heavy Equipment Operator</h3>
              </div>
              <a class="btn btn--stroke-primary position-item__link">Apply now</a>
            </article>
          </li>
          <li class="position-list__item">
            <article class="position-item">
              <div class="position-item__left">
                <div class="position-item__meta">
                  <span class="position-item__city">San Francisco</span>
                  <span class="position-item__time">Full Time</span>
                </div>
                <h3 class="position-item__title">Financial Compliance Analyst</h3>
              </div>
              <a class="btn btn--stroke-primary position-item__link">Apply now</a>
            </article>
          </li>
          <li class="position-list__item">
            <article class="position-item">
              <div class="position-item__left">
                <div class="position-item__meta">
                  <span class="position-item__city">New Jersey</span>
                  <span class="position-item__time">Full Time</span>
                </div>
                <h3 class="position-item__title">Project Manager - Buildings</h3>
              </div>
              <a class="btn btn--stroke-primary position-item__link">Apply now</a>
            </article>
          </li>
          <li class="position-list__item">
            <article class="position-item">
              <div class="position-item__left">
                <div class="position-item__meta">
                  <span class="position-item__city">New York</span>
                  <span class="position-item__time">Part Time</span>
                </div>
                <h3 class="position-item__title">Environment Specialist</h3>
              </div>
              <a class="btn btn--stroke-primary position-item__link">Apply now</a>
            </article>
          </li>
          <li class="position-list__item">
            <article class="position-item">
              <div class="position-item__left">
                <div class="position-item__meta">
                  <span class="position-item__city">New York</span>
                  <span class="position-item__time">Full Time</span>
                </div>
                <h3 class="position-item__title">Accountant</h3>
              </div>
              <a class="btn btn--stroke-primary position-item__link">Apply now</a>
            </article>
          </li>
        </ul>
      </div>
      <div class="position-content__right">
        <div class="position-looking">
          <h3 class="position-looking__title">Didn’t find what you were looking for?</h3>
          <p class="position-looking__descr">
            Send your CV&nbsp;or subscribe to&nbsp;our newsletter to&nbsp;receive information about new vacancies.
          </p>
          <div class="position-looking__btns">
            <button class="btn-reset btn btn--stroke-primary position-looking__btn position-looking__btn--subs">subscribe</button>
            <button class="btn-reset btn btn--fill position-looking__btn position-looking__btn--send">send cv</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>